
#picture1{width: 300px;height: 200px; }


body{margin-top: 20px;
background-color: blanchedalmond;}


#picture2{width: 150px;height: 100px; }

#shawn{text-align:unset;}

video{width: 400px;height: 300px;}
a{color: black;}


